.table-container-header
    %table.table-header{cellspacing: "0", callpadding: "0"}
        %thead
.table-container-body
    %table.table-body{tabindex: "-1", cellspacing: "0", callpadding: "0"}
        %tbody
    .column-resize-line
.scrollbar-container-horizontal
    .scrollbar-horizontal
        .scrollbar-scroller
.scrollbar-container-vertical
    .scrollbar-deadspace-top
    .scrollbar-vertical
        .scrollbar-scroller
    .scrollbar-deadspace-bottom